<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <h1 class="mt-4"> Board Read Page </h1>

        <div class="form-group">
            <label>Seq</label>
            <input type="text" class="form-control" name="seq"
                   th:value="${dto.seq}" readonly>
        </div>

        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title"
                   th:value="${dto.title}" readonly>
        </div>

        <div class="form-group">
            <label>Content</label>
            <textarea class="form-control" rows="5" name="content"
                      readonly>[[${dto.content}]]</textarea>

        </div>

        <div class="form-group">
            <label>Writer</label>
            <input type="text" class="form-control" name="writer_id"
                   th:value="${dto.writer_id}" readonly>
        </div>



        <div class="form-group">
            <label>RegDate</label>
            <input type="text" class="form-control" name="regDate"
                   th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>



        <a th:href="@{/board/modify(seq = ${dto.seq}, page = ${requestDTO.page}, type=${requestDTO.type},
                keyword = ${requestDTO.keyword})}">
            <button type="button" class="btn btn-primary"> Modify</button>
        </a>


        <a th:href="@{/board/list(page = ${requestDTO.page}, type=${requestDTO.type},
                keyword = ${requestDTO.keyword})}">
            <button type="button" class="btn btn-info">List</button>
        </a>

        <a th:href="@{/board/delete(seq = ${dto.seq}, page = ${requestDTO.page}, type=${requestDTO.type},
                keyword = ${requestDTO.keyword})}">
            <button type="button" class="btn btn-danger" name="removeBtn">Remove</button>
        </a>

    </th:block>

    <script>

<!--    var actionForm = $("form");-->

<!--    $(".removeBtn").click(function () {-->

<!--    console.log("진입")-->
<!--    if (!confirm("삭제하시겠습니까?")) {-->
<!--    return;-->
<!--    }-->

<!--    actionForm.attr("action", "/board/test").attr("method", "post");-->
<!--    // actionForm.attr("action", "/board/modify").attr("method", "post"); 지우기 주석-->
<!--    actionForm.submit();-->

<!--    });-->

    </script>

</th:block>